<div class="col-sm-6 col-sm-offset-3">
  <h2 class="text-center">Sign in</h2>
  <form>
    <div class="form-group">
      <label for="host">Host</label>
      <input type="text" class="form-control" id="host" value="127.0.0.1">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button class="btn btn-primary" onclick="return login()">Submit</button>
  </form>
</div>
