<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    PD & PD Sync
    <small>Connected devices</small>
  </h1>
  <!--<ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-da
</section>shboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>-->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-2 col-sm-4 panel panel-default pd-item">
            <div class="panel-body">
              <img class="center-block" src="../../assets/pocketdrive.png" alt="PD Image" height="42" width="42">
              <br>
              <p>Name</p>
              <p>IP</p>
            </div>
          </div>
          <style>
            .middleArrow {
              display: block;
              margin: 0 auto;
              height: 100%;
              width: 100%;
              transform: scale(0.4);
            }
          </style>
          <div class="col-md-2 col-sm-3 pd-item">
            <div class="middleArrow">
              <img style="display: block;width: 100%;height: 100%;margin: 0 auto;" class="center-block" src="../../assets/arrow.png" alt="PD Image">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 panel panel-default pd-item">
            <div class="panel-body">
              <img class="center-block" src="../../assets/pocketdrive.png" alt="PD Image" height="42" width="42">
              <br>
              <p>Name</p>
              <p>IP</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Main content -->
