<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    PD & PD Sync
    <small>Connected devices</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Folder Name</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let folder of folders">
              <td>
                <i class="fa fa-cog" data-toggle="modal" data-target="#deviceModal"
                   (click)="openDeviceSelectionDialog(folder)"></i>
              </td>
              <td>{{folder.name}}</td>
              <td>{{folder.size}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <!-- /.box -->
  <div class="row">
    <button class="btn btn-primary" (click)="ok()" style="float: right; margin-left: 5px; margin-right: 15px;">Submit
    </button>
    <button class="btn btn-default" (click)="cancel()" style="float: right;">Cancel</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deviceModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select devices to sync with</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>
                <!--<input type="checkbox" (click)="selectAll()" [(ngModel)]="allSelected">-->
              </th>
              <th>Device Name</th>
              <th>Device ID</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let device of deviceList">
                <td>
                  <input type="checkbox" [(ngModel)]="device.sync">
                </td>
                <td>{{device.name}}</td>
                <td>{{device.uuid}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="okModal()">Ok</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal -->

</section>
<!-- /.Main content -->
